.calendar-container{
    height: 550px;
    width: 800px;
    background-color: white;
    margin: 100px auto;

}

.month-title{
    border-bottom: solid;
}

.day-of-the-week{
    display: inline-block;
    margin-right: 40px;
}
.day-box{
    display: inline-block;
    margin-top: 20px;
    height: 50px;
    width: 110px;
}