.todo-title {
  color: black;
  font-weight: bold;
}
.todo-form {
  width: 700px;
  margin: auto;
}

.todo-list-container {
  background-color:  #feffff;
  height: 700px;
  width: 700px;
  margin: auto;
  border-radius: 5px;
}
